<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hola, @context.User.Claims.FirstOrDefault(c => c.Type == "userFirstName")?.Value </a>
        <a href="level/index">Tu nivel es: @context.User.Claims.FirstOrDefault(c => c.Type == "level")?.Value </a>
        
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
